@import './_variables';
@import './_mixins';

.has-error {
  input {
    border: 2px solid red;
    box-shadow: none;
  }
}

.has-success {
  input {
    border: 2px solid green;
    box-shadow: none;
  }
}
