<div class="row">
  <div class="login-component">
    <h2 class="text-center">Topcoder Mobile Connected Car</h2>

    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" data-toggle="password">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
    </form>
  </div>
</div>


