@import '../../../assets/scss/styles.scss';

h2 {
  margin-bottom: 2em;
  margin-top: 5em;
  padding: 0em 0.6em;
  font-size: 2.5em;
}

.customer-lookup-component {
  width: 380px;
  margin: 0 auto;
}

.cancel-submit-buttons {
    position: relative;
}

.btn-customer-lookup-cancel {
    float: left;
    background: #0e0e0e;
    color: #fff;
}

.btn-customer-lookup-submit {
    float: right;
}
